<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<!-- <script src="js/join.js"></script> -->
<link rel="stylesheet" href="https://meyerweb.com/eric/tools/css/reset/reset.css"> <!-- reset.css -->
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/groupchat.css">
<body>
  <div class="left">
    <div class="servers">
      <div class="mainServerNav"></div>
      <div class="server" id="sv1"></div>
      <div class="server" id="sv2"></div>
      <div class="server" id="sv3"></div>
      <div class="server" id="sv4"></div>
    </div>
  </div>

  <div class="middle">
    <div class="friends">&nbsp;&nbsp;친구</div>
    <div class="createDirectmessage">&nbsp;&nbsp;다이렉트 메세지&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+</div>
    <div class="directmessage">
      <div class="directmessageList"></div>
      <div class="directmessageList"></div>
      <div class="directmessageList"></div>
      <div class="directmessageList"></div>
    </div>
    <div class="myStatus"></div>
  </div>
  
  <div class="right">
    <!-- friends(기본 값) | directmessage 를 눌렀을 때 다르게 나타남 -->
    <div class="friendNavigation">
      <div class="fn" id="fn-friend">친구</div>
      <div class="fn" id="fn-online">온라인</div>
      <div class="fn" id="fn-all">모두</div>
      <div class="fn" id="fn-waiting">대기중</div>
      <div class="fn" id="fn-add">친구 추가</div>
    </div>
    <div class="friendList"></div>
  </div>
</body>
</html>