<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<script src="js/join.js"></script>
<link rel="stylesheet" href="../css/join.css">

<body>
  <div class="mainContent">
    <img id="logo" src="/image/blacklogo.png" alt="logo image" width="100" height="100"><br>
    <form class="joinForm" action="/user/join" method="post" id="joinform">
      <h2 class="title">계정 만들기</h2>
      <input id="email" name="appuserEmail" type="email" placeholder="이메일" > <span data-email></span>  <br>
      <input id="passwordVal" name="appuserPassword" type="password" placeholder="비밀번호" oninput="passwordValCheck()">
      <span data-password></span>
      <br>

      <input id="passwordcheck" type="password" placeholder="비밀번호 확인" oninput="passwordCheck()">
      <span data-passwordcheck></span>
      <br>

      <input id="ukName" name="appuserUkName" placeholder="고유이름"> 
      <span data-ukname></span>
      <br>

      <input name="appuserDisplayName" type="text" id="displayName" placeholder="디스플레이 이름" oninput="displayNameValCheck()"> 
      <span data-displayname></span> 
      <br>
      <input type="submit" value="회원가입" >
    </form>
    <button type="button" class="loginButton" onclick="location.href='/'">로그인</button>
  </div>
</body>
</html>